.project
.classpath
.settings/
target/
.vscode/
*/.project
*/.classpath
*/.settings/
*/target/
*/.vscode/
*.releaseBackup
*/.factorypath
*/node_modules
.factorypath
release.properties
rebel.xml
**/bundle-dashboard.js*