[Unit]
Description={{servicename}}
Requires=network.target
After=network.target

# If needed, enable this option to reboot immediately in process failure
# OnFailure=systemd-reboot.service

[Service]
Type=simple
User={{username}}
Group={{groupname}}
ExecStart={{installpath}}/{{servicename}}.war
SuccessExitStatus=143
RemainAfterExit=no
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
