html, body {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-family: 'merriweather', serif;
    font-weight: bold;
    color: #DDDDDD;
}
.text-primary {
    color: #42d3a5 !important;
}

.navbar-brand {
    font-family: 'Caveat', cursive;
    font-size: 1.6rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#particles-container {
    position: relative;
    min-height: 700px;
    width: 100%;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color: black;
}

@media (max-width: 575px) {
    #particles-container {
        min-height: 500px;
    }
}

#particles, #particles-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
#particles-content {
    z-index: 10;
    padding-top: 100px;
}


.btn-outline-success-custom {
    color: #42d3a5;
    border-color: #42d3a5;
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25rem;
    font-size: 1.0rem;
}

.btn-outline-success-custom:hover {
    background-color: #42d3a5;
}

